
body
  display: flex
  flex-direction: column
  font-size: 16px
  line-height: 1.6
  -webkit-text-size-adjust: 100%
  min-height: 100vh
  color: $color-body
  background-color: $color-background
  +font-regular
  +easeall

  +breakpoint-xlarge
    font-size: 18px
    +easeall

