
body
  display: flex
  flex-direction: column
  background: $color-background
  font-size: 14px
  line-height: 1.5
  -webkit-text-size-adjust: 100%
  color: $color-dark
  min-height: 100vh
  +font-regular
  +easeall

  +breakpoint-small
    font-size: 18px
    +easeall

