

=font-regular
  font-family: "Work Sans", -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif
  font-variant-ligatures: contextual
  font-feature-settings: "calt" 1

=font-mono
  font-family: nativeh, input, menlo, monospace

