
p 
  margin-bottom: 1.75rem
  font-size: 1em

  &:first-of-type
    font-size: 1.125rem
    line-height: 1.2em
    margin-bottom: 2em
    font-weight: 600

    +breakpoint-small
      font-size: 1.75rem

// Large Drop Cap
// p:first-of-type:first-letter
//   float: left
//   font-size: 4em
//   padding: .5rem 3rem
//   margin: .25rem 3rem .2rem 0
//   border-right: 1px solid $color-border
//   font-weight: 800
//   text-transform: uppercase
  
  // Large intro paragraph
  

blockquote 
  line-height: 1.2
  margin: 3rem 0
  font-style: italic

cite 
  display: block
  margin-top: 1rem

  &:before 
    content: ""
    display: inline-block
    width: 2.5rem
    margin-right: 0.3rem
    border-bottom: 1px solid $color-dark
    position: relative
    top: -3px

hr 
  display: block
  height: 1px
  border: 0
  border-top: 1px solid $color-medium-grey
  margin: 3em 0
  padding: 0

abbr 
  border-bottom: 1px dotted $color-dark
  cursor: help

code 
  display: inline-block
  background: $color-dark
  border: 1px solid $color-dark
  padding: 0 0.3rem

pre,
code
  font-family: nativeh, input, menlo, monospace
  font-size: .9rem

pre 
  //border-left: 1px solid $color-medium-grey
  background-color: #191919//$color-dark
  padding: 2rem
  margin: 3rem 0
  color: $color-light-grey

code
  border: 0
  background-color: $color-medium-grey

strong 
  font-weigth: 600

em 
  font-family: georgia, serif
  font-style: italic


 
