$small-width: 480px
$medium-width: 639px
$large-width: 960px
$xlarge-width: 1366px

=breakpoint-small 
  @media (min-width: #{$small-width})
    @content

=breakpoint-medium 
  @media (min-width: #{$medium-width})
    @content

=breakpoint-large
  @media (min-width: #{$large-width})
    @content

=breakpoint-xlarge
  @media (min-width: #{$xlarge-width})
    @content

=easeall
  -webkit-transition: all .1s ease-out
  -moz-transition: all .1s ease-out
  -o-transition: all .1s ease-out
  transition: all .1s ease-out

=hash
  &:after
    content: " "
    width: 1.5rem
    height: 1px
    background-color: $color-border
    margin-top: 1rem
    display: block

=border-top-and-bottom
  border-top: 1px solid $color-border
  border-bottom: 1px solid $color-border

=debug
  box-shadow: inset 0 0 0 1px red

