$color-neon-one: #001f3f
$color-neon-two: #ff4136


// Color Variables
$color-dark: #292929
$color-white: white
$color-black: black
$color-light-grey: #fafafa
$color-medium-grey: #efefef
$color-medium-dark-grey: #767687
$color-cream: #b5b5b5
$color-neon: #00ff00
$color-gum: #e8026e
$color-purple: #7902e8
$color-violet: #be02e8



// Primary Color
$color-primary: $color-black

// Variable Inception
$color-link: $color-primary
$color-background: $color-light-grey
$color-body: $color-dark
$color-headings: $color-dark
$color-highlight: $color-neon
$color-border: $color-medium-grey