
// Color Variables
$color-dark: #222
$color-white: white
$color-light-grey: #fafafa
$color-medium-grey: #efefef
$color-medium-dark-grey: #777
$color-cream: #b5b5b5
$color-neon: #00ff00

// Primary Color
$color-primary: $color-neon

// Variable Inception
$color-link: $color-primary
$color-background: $color-light-grey
$color-body: $color-dark
$color-headings: $color-dark
$color-highlight: $color-neon
$color-border: $color-medium-grey