.controls
  padding: .425rem 0 2rem
  display: block
  margin-right: 0

  +medium
    padding: .25rem 0 2rem

button
  padding: .25rem .75rem
  margin-right: .5rem
  font-size: .675rem
  +font-semibold

button.active
  font-size: .675rem
  color: $color-red
  