// Tiny – 12px
.group-t li img,
.group-t li svg
  width: 12px
  height: 12px
  +easeall

// Small – 16px
.group-s li img,
.group-s li svg
  width: 16px
  height: 16px
  +easeall

// Medium – 24px *Default
.group-m li img,
.group-m li svg
  width: 24px
  height: 24px
  +easeall

// Large – 32px 
.group-l li img,
.group-l li svg
  width: 32px
  height: 32px
  +easeall

// Extra Large – 48px 
.group-xl li img,
.group-xl li svg
  width: 48px
  height: 48px
  +easeall