    <div class="who">
      <table border="1">
        <tr>
          <td>
            <a href="http://twitter.com/mds">
            <span class="image-wrap"></span>
            </a>
          </td>
          <td>
            <h2>About</h2>
            <p>Hey, I'm Matt. I make digital things at <a href="http://studiomds.co">Studio Mds</a>. You can find me <a href="http://twitter.com/mds">tweeting</a> and <a href="http://dribbble.com/mds">dribbbling</a> all the live long day. I know what you're thinking and no, I don't usually wear 3D glasses. <a href="http://mattdsmith.com/about">Furthermore</a>.</p>
            <p style="text-align:left; margin-top: 20px;"><a href="https://twitter.com/mds" class="twitter-follow-button" data-show-count="true" data-lang="en"></a></p>
          </td>
        </tr>
      </table>
    </div><!-- .who -->
    
  </div><!-- .container -->
</div><!-- #contianer -->

<footer class="site-footer">
<!-- something will go here eventually -->
</footer>