html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

*::-moz-selection {
  background: yellow;
  font-family: "EMprintSemibold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-style: normal;
  outline: 1px solid red; }

*::selection {
  background: yellow;
  outline: 1px solid red; }

body {
  font-size: 16px;
  background-color: white;
  color: #112; }

.main {
  width: 100%;
  max-width: 68rem;
  margin: 6rem auto 10rem;
  padding: 0 1rem; }
  @media (min-width: 690px) {
    .main {
      padding: 0 2rem;
      -webkit-transition: all .25s ease-out;
      -moz-transition: all .25s ease-out;
      -o-transition: all .25s ease-out;
      transition: all .25s ease-out; } }
  @media (min-width: 1460px) {
    .main {
      max-width: 90rem;
      margin: 8rem auto 10rem;
      -webkit-transition: all .25s ease-out;
      -moz-transition: all .25s ease-out;
      -o-transition: all .25s ease-out;
      transition: all .25s ease-out; } }

ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0; }

li {
  flex: 1 0 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem 0;
  margin: 0 0 -1px 0;
  border-bottom: 1px solid #f0f0f0;
  flex-grow: 0;
  color: white; }
  @media (min-width: 690px) {
    li {
      padding: 1.5rem;
      flex: 0 0 33.3333333333%; } }
  @media (min-width: 1024px) {
    li {
      flex: 0 0 25%; } }
  li svg {
    color: #5a5b5f; }

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid #f0f0f0;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9); }
  @media (min-width: 1024px) {
    .top {
      left: 50%;
      width: 100%;
      max-width: 64rem;
      margin-left: -32rem;
      padding: 1rem 0; } }
  @media (min-width: 1460px) {
    .top {
      max-width: 86rem;
      margin-left: -43rem;
      padding: 2rem 0;
      -webkit-transition: all .25s ease-out;
      -moz-transition: all .25s ease-out;
      -o-transition: all .25s ease-out;
      transition: all .25s ease-out; } }

h1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #d82424;
  font-family: "EMprintBold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal; }
  @media (min-width: 1460px) {
    h1 {
      font-size: 1.75rem; } }

h2 {
  font-size: 1rem;
  font-family: "EMprintSemibold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 1rem 0 2rem; }
  h2 .appended {
    font-size: .75em;
    color: #d82424;
    font-family: "EMprintRegular", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-style: normal; }
  @media (min-width: 1460px) {
    h2 {
      font-size: 1.25rem;
      padding: 3rem 0; } }

h3 {
  font-size: .675rem;
  text-align: left;
  line-height: 1.35em;
  margin-left: 1rem;
  color: #112;
  font-family: "EMprintRegular", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-style: normal; }
  @media (min-width: 690px) {
    h3 {
      margin-left: 1rem;
      font-size: .75rem; } }
  @media (min-width: 1460px) {
    h3 {
      font-size: .875rem; } }

.is-visible {
  display: inline; }

.is-hidden {
  display: none; }

p {
  font-size: .75rem;
  font-family: "EMprintRegular", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-style: normal; }

a {
  color: #112; }

hr {
  border: none;
  border-bottom: 2px solid #f0f0f0;
  margin: 7rem 0 2rem; }

.avatar {
  float: left;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -4px;
  margin-right: .5rem; }

@font-face {
  font-family: 'EMprintLight';
  src: url("../fonts/EMprintW05Light_web.eot");
  src: url("../fonts/EMprintW05Light_web.eot?#iefix") format("embedded-opentype"), url("../fonts/EMprintW05Light_web.woff") format("woff"), url("../fonts/EMprintW05Light_web.woff2") format("woff2"), url("../fonts/EMprintW05Light_web.ttf") format("truetype"), url("../fonts/EMprintW05Light_web.svg#EMprintLight") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'EMprintRegular';
  src: url("../fonts/EMprintW05Regular_web.eot");
  src: url("../fonts/EMprintW05Regular_web.eot?#iefix") format("embedded-opentype"), url("../fonts/EMprintW05Regular_web.woff") format("woff"), url("../fonts/EMprintW05Regular_web.woff2") format("woff2"), url("../fonts/EMprintW05Regular_web.ttf") format("truetype"), url("../fonts/EMprintW05Regular_web.svg#EMprintRegular") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'EMprintRegularItalic';
  src: url("../fonts/EMprintW05RegularItalic_web.eot");
  src: url("../fonts/EMprintW05RegularItalic_web.eot?#iefix") format("embedded-opentype"), url("../fonts/EMprintW05RegularItalic_web.woff") format("woff"), url("../fonts/EMprintW05RegularItalic_web.woff2") format("woff2"), url("../fonts/EMprintW05RegularItalic_web.ttf") format("truetype"), url("../fonts/EMprintW05RegularItalic_web.svg#EMprintRegularItalic") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'EMprintSemibold';
  src: url("../fonts/EMprintW05Semibold_web.eot");
  src: url("../fonts/EMprintW05Semibold_web.eot?#iefix") format("embedded-opentype"), url("../fonts/EMprintW05Semibold_web.woff") format("woff"), url("../fonts/EMprintW05Semibold_web.woff2") format("woff2"), url("../fonts/EMprintW05Semibold_web.ttf") format("truetype"), url("../fonts/EMprintW05Semibold_web.svg#EMprintSemibold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'EMprintSemiboldItalic';
  src: url("../fonts/EMprintW05SemiboldItalic_web.eot");
  src: url("../fonts/EMprintW05SemiboldItalic_web.eot?#iefix") format("embedded-opentype"), url("../fonts/EMprintW05SemiboldItalic_web.woff") format("woff"), url("../fonts/EMprintW05SemiboldItalic_web.woff2") format("woff2"), url("../fonts/EMprintW05SemiboldItalic_web.ttf") format("truetype"), url("../fonts/EMprintW05SemiboldItalic_web.svg#EMprintSemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'EMprintBold';
  src: url("../fonts/EMprintW05Bold_web.eot");
  src: url("../fonts/EMprintW05Bold_web.eot?#iefix") format("embedded-opentype"), url("../fonts/EMprintW05Bold_web.woff") format("woff"), url("../fonts/EMprintW05Bold_web.woff2") format("woff2"), url("../fonts/EMprintW05Bold_web.ttf") format("truetype"), url("../fonts/EMprintW05Bold_web.svg#EMprintBold") format("svg");
  font-weight: 700;
  font-style: normal; }

form {
  padding: 4rem 0 6rem; }

input {
  width: 100%;
  padding: .7rem;
  border: 1px solid #cccccd;
  box-shadow: inset 0 2px 0 #f5f5f5;
  font-size: 1rem;
  outline: none;
  font-family: "EMprintSemibold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-style: normal;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out; }
  @media (min-width: 690px) {
    input {
      width: 260px; } }

::-webkit-input-placeholder {
  color: #999;
  font-family: "EMprintRegularItalic", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-style: italic; }

::-moz-placeholder {
  color: #999;
  font-family: "EMprintRegularItalic", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-style: italic; }

::-ms-input-placeholder {
  color: #999;
  font-family: "EMprintRegularItalic", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-style: italic; }

::-moz-placeholder {
  color: #999;
  font-family: "EMprintRegularItalic", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-style: italic; }

input:hover {
  border-color: grey; }

input:focus {
  border-color: #0c69b0; }

.controls {
  display: block;
  margin-right: 0; }

button {
  padding: .25rem .75rem;
  margin-left: .25rem;
  font-size: .675rem;
  color: #112;
  font-family: "EMprintSemibold", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-style: normal;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out; }
  button:hover {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out; }
  button:active {
    color: #112; }

button.active {
  font-size: .675rem;
  color: #d82424; }

.group-16 li img,
.group-16 li svg {
  width: 16px;
  height: 16px;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out; }

.group-24 li img,
.group-24 li svg {
  width: 24px;
  height: 24px;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out; }

.group-32 li img,
.group-32 li svg {
  stroke-width: .66;
  width: 32px;
  height: 32px;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out; }

.group-48 li img,
.group-48 li svg {
  width: 48px;
  height: 48px;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out; }

.group-48-alt li img,
.group-48-alt li svg {
  stroke-width: .6666;
  width: 48px;
  height: 48px;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out; }
