* {
  box-sizing: border-box; }

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0; }

header, footer, nav, section, article, hgroup, figure, main {
  display: block; }

main {
  width: 100%;
  padding: 1rem;
  max-width: 44rem;
  margin: auto; }

section {
  clear: both; }

body {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  font-size: 16px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  color: #222;
  font: EMprint-regular;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }
  @media (min-width: 480px) {
    body {
      font-size: 18px;
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out; } }

::-webkit-input-placeholder {
  color: #222; }

::-moz-placeholder {
  color: #222; }

:-ms-input-placeholder {
  color: #222; }

:-moz-placeholder {
  color: #222; }

fieldset {
  padding: 0;
  border: 0; }

legend {
  margin-bottom: 1rem;
  color: #222; }

label {
  display: block;
  margin: 0;
  color: #222;
  font-size: 1em; }

button, input, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%; }

input, textarea {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #222;
  box-shadow: inset 0 2px 0 #222;
  font-size: 1em;
  font-weight: 400; }
  input:hover, textarea:hover {
    border-color: #222; }
  input:focus, textarea:focus {
    outline: 1px solid #222;
    border-color: #222; }

textarea {
  display: block;
  min-height: 4em; }

input[type=text],
input[type=search],
input[type=url],
input[type=number],
textarea {
  -webkit-appearance: none;
  border-radius: 0; }

button, input[type=submit] {
  cursor: pointer;
  width: auto; }

input[type=checkbox],
input[type=radio] {
  width: auto;
  margin-right: 0.3rem;
  box-shadow: none; }

input[list] {
  position: relative; }

input[type=file] {
  line-height: 1; }

select {
  display: block;
  width: 100%;
  height: 2.75rem;
  border: 1px solid #222; }
  select:focus {
    outline: 1px solid #222;
    border-color: #222; }

select[multiple] {
  height: auto; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  font-weight: 700; }

h1 {
  font-size: 1.5em;
  padding: 2rem 0 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase; }

h2 {
  font-size: 0.875em;
  padding-top: 5rem;
  margin-bottom: 1rem;
  letter-spacing: 1px; }

h3 {
  font-size: 1.25em;
  padding: 2rem 0 0.75rem; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1.25em; }

a {
  color: #222;
  text-decoration: none;
  outline: 0; }

ol, ul {
  list-style: none; }

ul {
  margin-bottom: 2rem; }

dl {
  overflow: hidden;
  margin: 0; }

dt:last-of-type {
  border: 0; }

dd:last-of-type {
  border: 0; }

img, video, object {
  max-width: 100%;
  height: auto; }

svg {
  fill: currentColor; }

iframe {
  margin-bottom: 1; }

figure {
  width: auto; }

figcaption {
  font-style: italic; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

th {
  text-align: left; }

tr {
  vertical-align: top; }

p {
  margin-bottom: 1.5rem; }
  p:first-of-type {
    font-weight: 700; }

blockquote {
  line-height: 1.2;
  margin: 3rem 0;
  font-style: italic; }

cite {
  display: block;
  margin-top: 1rem; }
  cite:before {
    content: "";
    display: inline-block;
    width: 2.5rem;
    margin-right: 0.3rem;
    border-bottom: 1px solid #222;
    position: relative;
    top: -3px; }

hr {
  margin: 3rem 0;
  height: 1px;
  border: 0;
  background: #222; }

abbr {
  border-bottom: 1px dotted #222;
  cursor: help; }

code {
  display: inline-block;
  background: #222;
  border: 1px solid #222;
  padding: 0 0.3rem; }

pre,
code {
  font-family: nativeh, input, menlo, monospace;
  font-size: 0.9rem; }

pre {
  background-color: #222;
  padding: 2rem;
  margin: 3rem 0;
  color: #fafafa; }

code {
  border: 0;
  background-color: #efefef; }

strong {
  font-weigth: 600; }

em {
  font-style: italic; }

.first-word {
  font-family: "ff-basic-gothic-sc-web-pro";
  text-transform: lowercase; }

.icon-grid-16 {
  width: 16px;
  height: 16px;
  float: left;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 1rem; }

.icon-grid-24 {
  width: 24px;
  height: 24px;
  float: left;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 1rem; }

.svg-color {
  fill: red; }
