@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_reset\.sass}line{font-family:\000032}}
* {
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_reset\.sass}line{font-family:\000035}}
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_reset\.sass}line{font-family:\000039}}
header, footer, nav, section, article, hgroup, figure, main {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_main\.sass}line{font-family:\000032}}
main {
  width: 100%;
  padding: 1rem;
  max-width: 56rem;
  margin: 0 auto 5rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_main\.sass}line{font-family:\000038}}
  main:before {
    content: " ";
    width: 1px;
    top: 0;
    bottom: 0;
    background-color: #efefef;
    display: block;
    position: fixed;
    z-index: -2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_body\.sass}line{font-family:\000032}}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  color: #333;
  background-color: white;
  font-family: "Work Sans", -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  -webkit-font-variant-ligatures: contextual;
          font-variant-ligatures: contextual;
  -webkit-font-feature-settings: "calt" 1;
          font-feature-settings: "calt" 1;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }
  @media (min-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_body\.sass}line{font-family:\000032}}
    body {
      font-size: 18px;
      -webkit-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\000033}}
::-webkit-input-placeholder {
  color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\000036}}
::-moz-placeholder {
  color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\000039}}
:-ms-input-placeholder {
  color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\0000312}}
:-moz-placeholder {
  color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\0000316}}
fieldset {
  padding: 0;
  border: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\0000321}}
legend {
  margin-bottom: 1rem;
  color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\0000326}}
label {
  display: block;
  margin: 0;
  color: #333;
  font-size: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\0000333}}
button, input, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\0000340}}
input, textarea {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #333;
  box-shadow: inset 0 2px 0 #333;
  font-size: 1em;
  font-weight: 400; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\0000348}}
  input:hover, textarea:hover {
    border-color: #333; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\0000351}}
  input:focus, textarea:focus {
    outline: 1px solid #333;
    border-color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\0000356}}
textarea {
  display: block;
  min-height: 4em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\0000361}}
input[type=text],
input[type=search],
input[type=url],
input[type=number],
textarea {
  -webkit-appearance: none;
  border-radius: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\0000370}}
button, input[type=submit] {
  cursor: pointer;
  width: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\0000375}}
input[type=checkbox],
input[type=radio] {
  width: auto;
  margin-right: 0.3rem;
  box-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\0000382}}
input[list] {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\0000386}}
input[type=file] {
  line-height: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\0000390}}
select {
  display: block;
  width: 100%;
  height: 2.75rem;
  border: 1px solid #333; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\0000396}}
  select:focus {
    outline: 1px solid #333;
    border-color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\00003101}}
select[multiple] {
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_forms\.sass}line{font-family:\00003105}}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_headings\.sass}line{font-family:\000032}}
h1 {
  line-height: 1em;
  font-weight: 900;
  color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_headings\.sass}line{font-family:\000037}}
h2, h3, h4, h5, h6 {
  line-height: 1em;
  font-weight: 700;
  color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_headings\.sass}line{font-family:\0000312}}
h1 {
  font-size: 2em;
  padding: 3rem 0 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  display: block;
  border-bottom: 1px solid #efefef;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }
  @media (min-width: 639px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_headings\.sass}line{font-family:\0000312}}
    h1 {
      font-size: 6em;
      line-height: 5rem;
      padding: 5rem 0 3rem;
      margin-bottom: 3rem;
      -webkit-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_headings\.sass}line{font-family:\0000328}}
  h1.has-meta {
    padding: 3rem 0 0;
    border-bottom: none; }
    @media (min-width: 639px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_headings\.sass}line{font-family:\0000328}}
      h1.has-meta {
        padding: 5rem 0 0;
        margin-bottom: 2rem; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_headings\.sass}line{font-family:\0000336}}
h2 {
  font-size: 1.375em;
  padding: 4rem 0 2rem;
  margin-bottom: 2rem;
  display: block;
  border-bottom: 1px dashed #efefef; }
  @media (min-width: 639px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_headings\.sass}line{font-family:\0000336}}
    h2 {
      font-size: 1.75em; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_headings\.sass}line{font-family:\0000346}}
h3 {
  font-size: 1.125em;
  padding: 2rem 0 0.75rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_headings\.sass}line{font-family:\0000350}}
h4 {
  font-size: 1.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_headings\.sass}line{font-family:\0000353}}
h5 {
  font-size: 1.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_headings\.sass}line{font-family:\0000356}}
h6 {
  float: left;
  margin: 0.4675em 0.625em 0em 0em;
  font-size: 0.875em;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_links\.sass}line{font-family:\000031}}
a {
  color: #333;
  border-bottom: 1px solid currentColor;
  text-decoration: none;
  padding-bottom: 1px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_links\.sass}line{font-family:\000038}}
  a:hover {
    color: black;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_lists\.sass}line{font-family:\000032}}
ol {
  text-indent: 0.5rem;
  margin-left: 1.6125rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_lists\.sass}line{font-family:\000036}}
ul {
  list-style: square;
  text-indent: 0.5rem;
  margin-left: 1.125rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_lists\.sass}line{font-family:\0000311}}
dl {
  overflow: hidden;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_lists\.sass}line{font-family:\0000315}}
dt:last-of-type {
  border: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_lists\.sass}line{font-family:\0000318}}
dd:last-of-type {
  border: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_media\.sass}line{font-family:\000032}}
img, video, object {
  max-width: 100%;
  height: auto;
  margin-top: 1rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_media\.sass}line{font-family:\000037}}
svg {
  fill: currentColor; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_media\.sass}line{font-family:\0000310}}
iframe {
  margin-bottom: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_media\.sass}line{font-family:\0000313}}
figure {
  width: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_media\.sass}line{font-family:\0000316}}
figcaption {
  font-style: normal;
  font-size: 0.875rem;
  padding: 1rem 0 2rem;
  font-family: nativeh, input, menlo, monospace; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/abstracts\/_mixins\.sass}line{font-family:\0000329}}
  figcaption:after {
    content: " ";
    width: 1.5rem;
    height: 1px;
    background-color: #efefef;
    margin-top: 1rem;
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_tables\.sass}line{font-family:\000032}}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_tables\.sass}line{font-family:\000037}}
th {
  text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_tables\.sass}line{font-family:\0000310}}
tr {
  vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_text\.sass}line{font-family:\000032}}
p {
  margin-bottom: 1.75rem;
  font-size: 1em;
  max-width: 40rem; }
  @media (min-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_text\.sass}line{font-family:\000032}}
    p {
      font-size: 1.125rem; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_text\.sass}line{font-family:\0000310}}
blockquote {
  line-height: 1.2;
  margin: 3rem 0;
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_text\.sass}line{font-family:\0000315}}
aside p {
  float: none;
  margin: 0;
  padding: 1rem 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.25em;
  font-weight: 700; }
  @media (min-width: 639px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_text\.sass}line{font-family:\0000315}}
    aside p {
      max-width: 10rem;
      float: right;
      margin: 1rem 0 1rem 2rem;
      border-top: 1px solid #efefef;
      -webkit-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_text\.sass}line{font-family:\0000334}}
cite {
  display: block;
  margin-top: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_text\.sass}line{font-family:\0000338}}
  cite:before {
    content: "";
    display: inline-block;
    width: 2.5rem;
    margin-right: 0.3rem;
    border-bottom: 1px solid #333;
    position: relative;
    top: -3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_text\.sass}line{font-family:\0000347}}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #efefef;
  margin: 3em 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_text\.sass}line{font-family:\0000355}}
abbr {
  border-bottom: 1px dotted #333;
  cursor: help; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_text\.sass}line{font-family:\0000359}}
code {
  display: inline-block;
  background: #333;
  border: 1px solid #333;
  padding: 0 0.3rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_text\.sass}line{font-family:\0000365}}
pre,
code {
  font-size: 0.9rem;
  font-family: nativeh, input, menlo, monospace; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_text\.sass}line{font-family:\0000370}}
pre {
  background-color: #333;
  padding: 2rem;
  margin: 3rem 0;
  color: #fafafa; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_text\.sass}line{font-family:\0000376}}
code {
  border: 0;
  background-color: #efefef; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_text\.sass}line{font-family:\0000380}}
strong {
  font-weigth: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/base\/_text\.sass}line{font-family:\0000383}}
em {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-style: italic;
  -webkit-font-variant-ligatures: contextual;
          font-variant-ligatures: contextual;
  -webkit-font-feature-settings: "calt" 1;
          font-feature-settings: "calt" 1;
  letter-spacing: 0.02rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_header\.sass}line{font-family:\000031}}
header {
  box-shadow: inset 0 -1px 0 0 #efefef;
  background-color: white;
  position: relative;
  z-index: 5;
  padding: 0;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }
  @media (min-width: 639px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_header\.sass}line{font-family:\000031}}
    header {
      -webkit-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_header\.sass}line{font-family:\0000316}}
header a.logo {
  border: none;
  float: left;
  margin: 0;
  position: relative;
  top: 1.125rem;
  left: 0.5rem;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }
  @media (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_header\.sass}line{font-family:\0000316}}
    header a.logo {
      left: 1.5rem;
      -webkit-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_header\.sass}line{font-family:\0000329}}
header .mds-logo {
  max-width: 60px;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_header\.sass}line{font-family:\0000333}}
header .mds-nav {
  float: right;
  padding: 0.75rem 2rem 1.25rem; }
  @media (min-width: 639px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_header\.sass}line{font-family:\0000333}}
    header .mds-nav {
      padding: 0;
      overflow-x: hidden; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_header\.sass}line{font-family:\0000341}}
header .mds-nav li {
  display: block;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }
  @media (min-width: 639px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_header\.sass}line{font-family:\0000341}}
    header .mds-nav li {
      margin-right: -6px;
      display: inline-block;
      -webkit-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_header\.sass}line{font-family:\0000350}}
header .mds-nav li a {
  font-size: 0.675rem;
  font-weight: 700;
  display: block;
  text-align: right;
  text-decoration: none;
  padding: 0.75rem 0.25rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border: none;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_header\.sass}line{font-family:\0000368}}
  header .mds-nav li a:before {
    content: " ";
    display: block;
    width: 0.5rem;
    height: 1px;
    background-color: #efefef;
    position: absolute;
    margin-top: 0.5rem;
    right: 0;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_header\.sass}line{font-family:\0000379}}
  header .mds-nav li a:hover:before {
    background-color: black;
    width: 1.5rem; }
  @media (min-width: 639px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_header\.sass}line{font-family:\0000350}}
    header .mds-nav li a {
      padding: 1.75rem 2.5rem 1.5rem;
      margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_header\.sass}line{font-family:\0000393}}
      header .mds-nav li a:before {
        content: " ";
        display: block;
        height: 0.5rem;
        width: 1px;
        background-color: #efefef;
        position: absolute;
        margin-left: 0.675rem;
        margin-top: 0;
        top: 0;
        right: auto;
        -webkit-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_header\.sass}line{font-family:\00003106}}
      header .mds-nav li a:hover:before {
        width: 1px;
        background-color: black;
        height: 1.25rem; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_wrapper\.sass}line{font-family:\000031}}
.mds-wrapper {
  max-width: 100%;
  background-color: #fafafa;
  position: relative;
  z-index: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_dark\.sass}line{font-family:\000031}}
.dark {
  height: 800px;
  width: 100%;
  background-color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_post-meta\.sass}line{font-family:\000031}}
.post-meta {
  font-size: 0.75rem;
  padding: 1rem 0;
  display: block;
  margin-bottom: 4rem;
  border-top: 1px dashed #efefef;
  border-bottom: 1px dashed #efefef;
  font-family: nativeh, input, menlo, monospace; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_post-meta\.sass}line{font-family:\0000310}}
  .post-meta a {
    border-bottom: none;
    font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mds\/Dropbox\%20\(Personal\)\/_Projects\/2016\/mds\.github\.io\/projects\/particle\/assets\/css\/sass\/components\/_post-meta\.sass}line{font-family:\0000320}}
.post-meta-tags {
  float: right;
  display: none; }
