.home-template
  background-color: $color-dark
  color: $color-light-grey

  .mds-nav-container--home
    border-bottom: 1px solid $color-feature-border

    .mds-logo
      color: $color-primary

  h1
    color: $color-medium-grey
    border-color: $color-feature-border

  .mds-wrapper

    a
      color: $color-primary
      border-bottom: 1px solid $color-primary

    &:before
      background-color: $color-feature-border

  p
    color: $color-medium-dark-grey

  .mds-form-wrapper
    border-top: 1px solid $color-feature-border