.mds-nav-container--no-nav
  background-color: $color-background
  position: relative
  z-index: 1000
  padding: 0
  +border-top-and-bottom
  +easeall

  &:hover
    background-color: $color-white
    +easeall

  .mds-logo
    width: 60px
    margin: auto
    display: block
    text-align: center
    margin-top: 1.175rem
    padding-bottom: 1.325rem

.mds-nav-container,
.mds-nav-container--home
  background-color: $color-background//white
  position: relative
  z-index: 1000
  padding: 0
  +font-regular
  +border-top-and-bottom
  +easeall

  &:hover
    background-color: $color-light-grey
    +easeall

  a.logo 
    border: none
    float: left
    margin: 0
    position: relative
    top: 1.125rem
    left: .5rem
    +easeall

    +breakpoint-large
      left: 1.5rem
      +easeall

  .mds-logo
    max-width: 60px
    width: 100%

  .mds-nav
    float: right
    padding: .75rem 2rem 1.25rem

    +breakpoint-medium
      padding: 0
      overflow-x: hidden // hack to fix something being to wide 

  ul.mds-nav
    margin-bottom: 0

  .mds-nav li
    display: block
    +easeall

    +breakpoint-medium
      margin-right: -6px
      display: inline-block
      +easeall

  // current navigation selected
  .mds-nav li.nav-current a
    color: $color-primary

    &:before
      background-color: $color-dark
      width: 1.5rem

      +breakpoint-medium
        width: 1px
        background-color: $color-dark
        height: 1.25rem

  .mds-nav li a
    font-size: .625rem
    font-weight: 700
    display: block
    text-align: right
    text-decoration: none
    padding: .75rem .25rem
    text-transform: uppercase
    color: $color-dark
    letter-spacing: .1rem
    border: none
    +easeall

    &:hover
      color: $color-primary
      +easeall

    // -----------------------
    // line detail on small screens
    &:before
      content: " "
      display: block
      width: .5rem
      height: 1px
      background-color: $color-border
      position: absolute
      margin-top: .5rem
      right: 0
      +easeall

    &:hover:before
      background-color: $color-dark
      width: 1.5rem

    // end line detail on small screens
    // ----------------------- 

    +breakpoint-medium
      font-size: .675rem
      padding: 1.75rem 2.5rem 1.5rem
      margin: 0

      // -----------------------
      // line detail on larger screens
      &:before
        content: " "
        display: block
        height: .5rem
        width: 1px
        background-color: $color-border
        position: absolute
        margin-left: .175rem
        margin-top: 0
        top: 0
        right: auto
        +easeall

      &:hover:before
        width: 1px
        background-color: $color-dark
        height: 1.25rem

      // end line detail on larger screens
      // -----------------------

.mds-nav-container--home
  background-color: $color-dark
  border-color: $color-feature-border
  border-bottom: none

  .mds-logo
    color: rgba($color-medium-dark-grey, .2)
    +easeall

    &:hover
      color: $color-primary
      +easeall

  .mds-nav li a
    color: $color-medium-dark-grey

    &:before
      background-color: $color-feature-border

    &:hover:before
      background-color: $color-medium-grey

  &:hover
    background-color: darken($color-dark, 1%)
    //border-color: rgba($color-medium-dark-grey, .1)

  // current navigation selected
  .mds-nav li.nav-current a
    color: $color-primary

    &:before
      background-color: $color-white


