.post
  margin-bottom: 1rem

  h2
    padding: 1rem 0
    margin-bottom: 1rem
    display: block
    border-bottom: 1px dashed $color-border

    a
      border-bottom: none

  a
    border-bottom: 1px solid $color-medium-dark-grey

    &:hover
      color: $color-primary
      border-color: $color-primary
      +easeall

    &.primary
      border-bottom: none
      display: block
      text-align: center
      color: $color-white
      background-color: $color-dark
      padding: 1rem 0
      max-width: 32rem
      font-weight: bold

      &:hover 
        background-color: $color-primary

