.post-meta
  font-size: .75rem
  padding: 1rem 0 
  display: block
  margin-bottom: 4rem
  border-top: 1px dashed $color-border
  border-bottom: 1px dashed $color-border
  +font-mono

  a
    border-bottom: none
    font-weight: bold

// .post-meta span
//   display: none

//   +breakpoint-medium
//     display: inline

.post-meta-tags
  float: right
  display: none