
// brand
$color-orange: #D67D00
$color-blue: #007AFF
$color-navy: #172659
$color-red: #C12B00
$color-maroon: #7C1C00
$color-teal: #005D70
$color-green: #0D8500
$color-lawquick: #b82800

// ui
$color-white: white
$color-light-grey: #8E8E93
$color-light-grey-2: #ccc
$color-light-grey-3: #e5e5e6
$color-bg: #f8f8f8
$color-charcoal: #222
$color-mid: #666

// sets main primary color
$color-primary: $color-green

// implements colors in UI
$color-background: $color-bg


